!!!
%html
  %head
    %title Perro's very awesome development page
    %script{:src=>"/javascripts/jquery.js" , :type=>"text/javascript"}
    %script{:src=>"/javascripts/qunit.js" , :type=>"text/javascript"}  
    %style
      @import url("/stylesheets/qunit.css");
      @import url("/stylesheets/reset.css");
  %body
    %h1 My Project
    %h2#banner
    %h2#userAgent
    %ol#tests
    #main
